.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile-card {
    width: 800px;
    padding: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
.nnnn
{
    font-size: 20px;
    margin-bottom: 8px;
    color: #555; /* Label text color */
}
input[type="text"],
  input[type="password"] { 
    width: 20%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc; /* Input border */
    border-radius: 15px;
    font-size: 26px;
    color: #333; /* Input text color */
  }
  input[type="text"],
  input[type="email"] { 
    width: 20%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc; /* Input border */
    border-radius: 15px;
    font-size: 26px;
    color: #333; /* Input text color */
  }
  #button1{
    width: 300px;
    height: 40px;
    }
    #button2{
    width: 300px;
    height: 40px;
    }
    .button-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
      }
      
      .button {
        background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
      }
      